# Copy this file to .env that you will create to replace this one and fill in your actual values

# Server
PORT=3000
#Get your DATABASE_URL EDAMAM_APP_ID and EDAMAM_APP_KEY from Comments alongside my submission in canvas

# Aiven PostgreSQL Database
DATABASE_URL=your_aiven_postgresql_connection_string_here

# Edamam Food Database API
EDAMAM_APP_ID=your_edamam_app_id_here
EDAMAM_APP_KEY=your_edamam_app_key_here
